a{
  text-decoration: none;
  padding: 50px;
  color: #B50A00;
  font-size: 30px;
}
.references{
  text-align: center;
}
p{
  color: #FFFFFF;
  font-size: 20px;
  font-family: sans-serif;
}
.list{
  color: #1EA800;
  font-size: 25px;
  font-style: italic;
}
h1{
  color: #1EA800;
  font-size: 40px;
  font-style: italic;
  text-align: center;
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
.form-wrapper{
  color: #FFFFFF;
}
